body {
  position: relative;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.game-mode {
  margin-block: 20px;
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 10px;
}

.inputName {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

#player1,
#player2 {
  display: none;
}

.alertMissing {
  font-size: 15px;
  height: 20px;
  padding-block: 5px;
  color: red;
}

#play {
  font-size: 40px;
  border-radius: 10px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  visibility: hidden;
}

.updates {
  height: 30px;
  text-align: center;
  margin-block: 10%;
}

.main-board {
  width: 12em;
  font-size: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10%;
}

.selection {
  height: 4em;
  border: .5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
}